@page "/"
@using HeroPack.Services;
@inject Game game

<PageTitle>Index</PageTitle>

<h1>Game</h1>
<h3>Backpack </h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Hands</th>
            <th>Durability</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in game.HerosBackpack)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Size</td>
                <td>@item.NoOfHands</td>
                <td>@item.Durability</td>
            </tr>
        }
    </tbody>
</table>

<h3>Holding in hands</h3>
@* Vad håller hjälten i händerna *@
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Hands</th>
            <th>Durability</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hand in game.Hero.GetItemsInHands())
        {
            <tr>
                <td>@hand?.Item?.Name</td>
                <td>@hand?.Item?.Size</td>
                <td>@hand?.Item?.NoOfHands</td>
                <td>@hand?.Item?.Durability</td>
                <td>@hand?.Item?.Quantity</td>
            </tr>
        }
    </tbody>
</table>

@if (game.Loot is not null && game.Loot.Count > 0)
{
    <h3>Loot on the ground</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Hands</th>
                <th>Durability</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in game.Loot)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Size</td>
                    <td>@item.NoOfHands</td>
                    <td>@item.Durability</td>
                    <td>@item.Quantity</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => game.Hero.PickUp(game.Loot, item)">Pick Up</button>
                        <button class="btn btn-primary" 
                            @onclick="() => game.Hero.AddToBackpack(game.Loot, item)">Add to backpack</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@* Error message *@
@if(game.Message.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @game.Message
    </div>
}



